.border {
	padding: 1em;
	margin: 1em;
}

.in-set {
	margin: 2em; 
}

.frame {
	width: 270px;
	height: 400px;
	display: inline-block;
	text-align: center;
}

.frame img {
	max-width: 100%;
	max-height: 100%;
}

.status {
	display: inline-block;
	vertical-align: top;
	margin-left: 2em;
}

.title {
	font-weight: bold;
}

h2 {
	font-weight: normal;
	font-style: italic;
	margin-top: 1em;
}
