body{
	padding: 1em;
	margin: 1em;
}

#container {
	text-align: center;
}

.catalog {
	display: inline-block;
	border: 1px solid;
	padding: 1em;
	margin: 1em;

	text-align: center;
}

.catalog img {
	width: 135px;
	height: 200px;
}

.catalog .title {
	font-weight: bold;
}
