#container {
	text-align: center;
}

.catalog {
	display: inline-block;
	border: 2px solid;
	padding: 1em;
	margin: 1em;

	text-align: center;
}

.catalog img {
	width: 135px;
	height: 200px;
	border: 1px solid;
}
